body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #003b6f;
    font-family: "lato", sans-serif;
}

.head {
    font-family: 'Times New Roman', serif;
    margin: 0;
    background-color: #003b6f;
    color: #ffffff;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid white
}

.Frm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
  
.title {
    font-size: 50px;
    margin-bottom: 50px;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #B0B4C1;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #B0B4C1;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #003b6f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
  
.submitBtn:hover {
    background-color: #005a9c;
    transform: translateY(-2px);
}

.input {
    transition: border-color 0.5s, color 0.5s;
}

.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #003b6f;
}

.input:focus {
    border: 2px solid #003b6f;
}

.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

.Link {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }