<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whoniverse Checklist</title>
    <link rel="stylesheet" href="static/whoniverse.css">
</head>
<body>
    <header>
        <h1>&#x2728; Whoniverse Checklist &#x2728;</h1>
    </header>

    <div id="content">
        <div id="column1" class="column">
            <button data-id="TV">TV</button>
            <button data-id="A">AUDIOS</button>
            <button data-id="B">BOOKS & COMICS</button>
            <button data-id="SO">SPIN-OFFS & MORE!</button>
        </div>
        

        <div id="column2" class="column">
        </div>

        <div id="column3" class="column">
        </div>

        <div id="column4" class="column">
        </div>

        <div id="column5" class="column">
        </div>
    </div>

    <script src="static/whoniverse.js"></script>
</body>
</html>
